src/main/resources/wsdl/NameChange_1p1/NameChangeResponse_1p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== NameChangeResponseEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.1.0
   Schema date: 4 March 2020

   Copyright (C) nedu (2020). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p1" xmlns:ccma="urn:nedu:edsn:data:namechangeresponse:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:edsn:data:namechangeresponse:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="NameChangeResponseEnvelope" type="ccma:NameChangeResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#NameChangeResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>NameChangeResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#NameChangeResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>NameChangeResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Content"  type="ccma:NameChangeResponseEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:NameChangeResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Destination</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Source</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Destination</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Service</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Service</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:NameChangeResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Source</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element name="Portaal_MeteringPoint"  type="ccma:NameChangeResponseEnvelope_PC_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Rejection"  type="ccma:NameChangeResponseEnvelope_PC_PR" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Rejection</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. Portaal_Rejection (Afwijzing) heeft een relatie met MeteringPoint (Aansluiting). Bevat geen informatie over MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:NameChangeResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint1.EANID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Elke aansluiting op het net van de netbeheerder heeft een unieke EAN18 code conform de landelijke richtlijn (LDT1).(PG)</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GridOperator_Company"  type="ccma:NameChangeResponseEnvelope_PC_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPCommercialCharacteristics"  type="ccma:NameChangeResponseEnvelope_PC_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#MPCommercialCharacteristics1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Mutation"  type="ccma:NameChangeResponseEnvelope_PC_PMP_PM" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP_GridOperator_Company ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company1.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van de marktpartij (LDT1).</ccts:Definition>
<ccts:BusinessTermName>MarktpartijEAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP_MPCC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#MPCommercialCharacteristics1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BalanceSupplier_Company"  type="ccma:NameChangeResponseEnvelope_PC_PMP_MPCC_BalanceSupplier_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#BalanceSupplier_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company</ccts:DictionaryEntryName>
<ccts:Definition>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</ccts:Definition>
<ccts:BusinessTermName>Leverancier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP_MPCC_BalanceSupplier_Company ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP_MPCC_BalanceSupplier_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#BalanceSupplier_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company</ccts:DictionaryEntryName>
<ccts:Definition>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</ccts:Definition>
<ccts:BusinessTermName>Leverancier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company1.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van de marktpartij (LDT1).</ccts:Definition>
<ccts:BusinessTermName>MarktpartijEAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP_PM ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP_PM" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ExternalReference" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_ReferenceTextType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation.ExternalReference">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation1.ExternalReference</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation.ExternalReference</ccts:DictionaryEntryName>
<ccts:Definition>Eigen referentie van de initiërende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Dossier"  type="ccma:NameChangeResponseEnvelope_PC_PMP_PM_Dossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen en transacties.(LDT1)</ccts:Definition>
<ccts:BusinessTermName>Dossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PMP_PM_Dossier ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PMP_PM_Dossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier1</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen en transacties.(LDT1)</ccts:Definition>
<ccts:BusinessTermName>Dossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier1.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van het dossier. Max. 11 karakters (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Dossiernummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Rejection</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. Portaal_Rejection (Afwijzing) heeft een relatie met MeteringPoint (Aansluiting). Bevat geen informatie over MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Rejection" minOccurs="1" maxOccurs="unbounded" type="ccma:NameChangeResponseEnvelope_RejectionPortaalType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection.Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Rejection.Rejection</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection.Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek (CDT).</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_MeteringPoint"  type="ccma:NameChangeResponseEnvelope_PC_PR_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:NameChangeResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_MeteringPoint.EANID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Elke aansluiting op het net van de netbeheerder heeft een unieke EAN18 code conform de landelijke richtlijn.  (LDT1). (PG)</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GridOperator_Company"  type="ccma:NameChangeResponseEnvelope_PC_PR_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPCommercialCharacteristics"  type="ccma:NameChangeResponseEnvelope_PC_PR_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#MPCommercialCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Mutation"  type="ccma:NameChangeResponseEnvelope_PC_PR_PMP_PM" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP_GridOperator_Company ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GridOperator_Company.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van de marktpartij (LDT1).</ccts:Definition>
<ccts:BusinessTermName>MarktpartijEAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP_MPCC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#MPCommercialCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BalanceSupplier_Company"  type="ccma:NameChangeResponseEnvelope_PC_PR_PMP_MPCC_BalanceSupplier_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#BalanceSupplier_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company</ccts:DictionaryEntryName>
<ccts:Definition>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</ccts:Definition>
<ccts:BusinessTermName>Leverancier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP_MPCC_BalanceSupplier_Company ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP_MPCC_BalanceSupplier_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#BalanceSupplier_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company</ccts:DictionaryEntryName>
<ccts:Definition>Een organisatorische eenheid die zich bezighoudt met het leveren van elektriciteit en/of gas.</ccts:Definition>
<ccts:BusinessTermName>Leverancier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#BalanceSupplier_Company.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>BalanceSupplier_Company.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van de marktpartij (LDT1).</ccts:Definition>
<ccts:BusinessTermName>MarktpartijEAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP_PM ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP_PM" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ExternalReference" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_ReferenceTextType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Mutation.ExternalReference">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Portaal_Mutation.ExternalReference</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Mutation.ExternalReference</ccts:DictionaryEntryName>
<ccts:Definition>Eigen referentie van de initiërende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Dossier" minOccurs="0" maxOccurs="1" type="ccma:NameChangeResponseEnvelope_PC_PR_PMP_PM_Dossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen en transacties.(LDT1)</ccts:Definition>
<ccts:BusinessTermName>Dossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: NameChangeResponseEnvelope_PC_PR_PMP_PM_Dossier ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_PC_PR_PMP_PM_Dossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen en transacties.(LDT1)</ccts:Definition>
<ccts:BusinessTermName>Dossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:NameChangeResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Dossier.ID</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Dossier.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van het dossier. Max. 11 karakters (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Dossiernummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#DateTime</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GLNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GLNEANCode</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GLNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Location Number (GLN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Location Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Identifier</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Indicator</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Numeric</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ReferenceTextType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_ReferenceTextType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#ReferenceTextType</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>ReferenceTextType</ccts:DictionaryEntryName>
<ccts:Definition>Referentie (string) (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Referentie tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionPortaalType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="NameChangeResponseEnvelope_RejectionPortaalType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#RejectionPortaalType</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor inhoudelijke afwijzingen.</ccts:Definition>
<ccts:BusinessTermName>Afwijzingen portaal</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="RejectionCode"  type="ccma:NameChangeResponseEnvelope_RejectionReasonType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType.RejectionCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#RejectionPortaalType.RejectionCode</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType.RejectionCode</ccts:DictionaryEntryName>
<ccts:Definition>Code van de reden van de afwijzing</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RejectionText" minOccurs="0" maxOccurs="1" type="xsd:string" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType.RejectionText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#RejectionPortaalType.RejectionText</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType.RejectionText</ccts:DictionaryEntryName>
<ccts:Definition>Toelichting op de reden van afwijzing</ccts:Definition>
<ccts:BusinessTermName>Toelichting afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionReasonType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_RejectionReasonType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#RejectionReasonType</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionReasonType</ccts:DictionaryEntryName>
<ccts:Definition>Code afwijsreden.</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#Text</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: TransactionDossierIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="NameChangeResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:namechangeresponse#TransactionDossierIDType</ccts:UniqueID>
<ccts:VersionID>1.1</ccts:VersionID>
<ccts:DictionaryEntryName>TransactionDossierIDType</ccts:DictionaryEntryName>
<ccts:Definition>Dossier identifier (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Dossier identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
</xsd:schema>